

/* ------------- */
.slider_container{
    width: 95%;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 5px;
    background-color:#fff7ec;
}
.slider_wrap{
    display: flex;
    align-items: center;
    animation: slider 30s infinite;
}
.slider_wrap img{
    height: 100%;
    width: 100%;    
}
@keyframes slider{
    5%{
        transform: translateX(0);
    }  
    17%{
        transform: translateX(-100%);
    } 
    29%{
        transform: translateX(-200%);
    } 
    41%{
        transform: translateX(-300%);
    } 
    53%{
        transform: translateX(-400%);
    } 
    65%{
        transform: translateX(-500%);
    } 
    77%{
        transform: translateX(-600%);
    } 
     100%{
        transform: translateX(0);
    }
}
