
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_txt_slider{
    background-color: var(--primary-color);
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}

/* ------------ */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
    padding: 0px 3%;
}
.header_logo{
    width: 55px;
}
.header_logo img{
    width: 100%;
}

nav ul{
  display: flex;  
}
nav ul li{
    padding: 20px;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.678);
}

.header_icons{
    font-size: 1.7rem;
    display: flex;
    gap: 20px;
}