* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;
}

.header_slider {
    background-color:var(--primary-color);
    height: 55px;
    overflow: hidden;
    color: white;
}

.header_slider_txt {
    display: flex;
    height: 55px;
    align-items: center;
    font-size: 1.1rem;
}

.header {
    width: 95%;
    margin: auto;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_nav_logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding-right: 10px;
    display: none;
}


.header_logo {
    width: 65px;
    height: 46px;
}

.header_logo img {
    width: 100%;
}

.nav_bar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav_bar ul li {
    font-size: 0.9rem;
    font-weight: 500;
}

.header_search_container {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_input_container_2 {
    display: none;
}

.header_search {
    width: 240px;
    display: flex;
    padding: 0px 20px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 23px;
}

.header_search_icon {
    display: flex;
    align-items: center;
    padding-right: 15px;
 
}

.header_input input {
    padding: 11px 0px;
    width: 150px;
    border: none;
    background-color: transparent;
    outline: none;
}

.header_icons {
    width: 120px;
}

.header_icons ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_icons ul li {
    font-size: 1.3rem;
}

.col {
    height: 100vh;
}


@media screen and (max-width:1800px) {
    .logo_nav_container {
        width: 940px;
    }

    .nav_bar {
        width: 740px;
    }

    .nav_bar ul li {
        font-size: 1rem;
    }


}

@media screen and (max-width:1450px) {
    .logo_nav_container {
        width: 780px;
    }

    .nav_bar {
        width: 580px;
    }

    .nav_bar ul li {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:1200px) {
    .header_nav_logo {
        display: block;
    }
    .logo_nav_container {
        justify-content: start;
    }
    .header {
        justify-content: start;
        justify-content: flex-start;
    }

    /* .logo_nav_container{
        width: 150px;
    } */
    .nav_bar {
        display: none;
    }
}

@media screen and (max-width:600px) {
   
    .header_logo {
        width: 65px;
    }
    .header_input input {
        padding: 7px 0px;
    }
    .header_input_container_2 {
        width: 97%;
        margin: auto;
        padding-bottom: 10px;
        display: block;
    }

    .header_input_container_2 .header_search {
        width: 100%;
    }

    .header_search {
        display: none;
    }

    .header_search_2 {
        display: flex;
        padding: 0px 20px;
        border: 1px solid rgba(0, 0, 0, 0.301);
        border-radius: 23px;
    }

}